<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center inner">
        <div class="col-sm-6 col-sm-offset-3">
        <h1>Profile Page</h1>
        <a ng-click="logout()" class="btn btn-default btn-sm">Logout</a>

            <div ng-if="user.data._id != null" class="text-left">
                  <h3>Local</h3>
                    <p>
                        <strong>id</strong>: {{user.data._id}}<br>
                        <strong>email</strong>: {{user.data.local.email}}<br>
                        <strong>password</strong>:  {{user.data.local.password}}
                    </p>
            </div>
            <div ng-if="user.facebook._id != null" class="text-left">
                <h3 >Facebook</h3>
                    <p>
                        <strong>id</strong>: {{user.data.facebook.id}}<br>
                        <strong>token</strong>: {{user.data.facebook.token}}<br>
                        <strong>email</strong>: {{user.data.facebook.email}}<br>
                        <strong>name</strong>: {{user.data.facebook.name}}
                    </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row">
    <div class="body-container">
    </div>
</div>
