<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center inner">
        <div class="col-sm-6 col-sm-offset-3">

			<h1>Twitter - tidigare sökningar </h1>
			<hr>
			<h2>Kort om applikationen </h2>
	        <div class="text-left">
			<p>
				Vid klick på kartan genomför applikation en request till servern, som i sin tur genomför 2 request till twitters api. Det första för att ta reda på korrelerande WOEID till kordinaterna man har klickat på. <br />
				Det andra anropet frågar med hjälp av WOEID efter de 10 högst trendande hashtagen som finns i det området som är närmast det hämtade WOEID. 
			</p>
			<p>
				Twitter har begränsningar i antalet anrop man kan göra till dess api. 15 stycken var 15 de minut. Så spamma inte jävel på kartan.
			</p>
		</div>
		</div>
		</div>
		</div>
	</div>
</section>
<div class="row">
    <div class="body-container">

    <form class="form-inline">
      <input ng-model="filterQuery" type="text" placeholder="Sök på namn" autofocus>
    </form>
    <hr>
		<div class="col-sm-3" ng-repeat="query in user.data.trendQueries | filter:filterQuery | orderBy: 'created_at':true">

			<div class="block">
				<ul>
					<li><h2>{{query.locations.name}}</h2> 
					<ul ng-repeat="trend in query.trends">
						<li>{{trend.name}} <a href="{{trend.url}}"> <span class="twitter-link">| sök på </span> <img alt="twitter-icon" src="../img/twitter_icon.png"></a></li>
					</ul>
					<span class="created_at">
						skapades : {{query.created_at}} & <br />
						lästes : {{query.as_of}}
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<footer>
    <div class="container">
            <div class="row">
            <div class="col-md-6">
                <ul class="links">
                </ul>
            </div>
            <div class="col-md-6 credit">
                <p>Utvecklad av <a href="http://www.antonledstrom.se/">Anton Ledström</a> i kursen <em>Webbteknik 2</em></p>
            </div>
		</div>
	</div>
</footer>